/* Default styles start */
body {
    background-color: rgb(25, 26, 28);
    margin: 0;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

/* Default styles end */



.App {
    max-width: 1180px;
    margin: 0 auto;
    color: white;
    padding: 0 40px;
}






